body{
	font-family: "Arial", sans-serif;
		}

fieldset{
	margin-left: 30%;
	width:378px;

		}

legend{
	border:1px solid black;
	background-color:#fee3ae;

}

label{
	width:40%;
	float:left;

}

input, textarea{

	background-color:#fee3ae;

}

.row{
	margin-bottom: 10px;


}
.row input[type=submit]{
	margin-right: 45%;
	float:right;
	
}
